.grid-container{
            display: flex;
            width: 342px;
            flex-wrap: wrap;
            height: 342px;
        }
        .grid-item{
            width: 100px;
            height: 100px;
            border:2px solid rgb(77, 2, 109) ;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
			background-color:rgb(0,0,0,0);
            
        }